@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

$brand-color: #72ADBF;

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	margin: 0;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 160px;
	background-color: $brand-color;
}

h1, h2, h3 {
	font-family: 'Nothing You Could Do', cursive;
	font-weight: 300;
	margin: 0;
}

h1, .banner h2, aside h2 {
	color: white;
}

h1 {
	font-size: 64px;
}

.banner {
	background-image: url('https://www.johnlund.com/Images/Drone-Baby-Delivery-Service.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;
	width: 100%;
	display: flex;
	align-items: flex-end;
	padding: 0.4em 1em;
}

main {
	padding: 1em 0;
	max-width: 960px;
	margin: 0 auto;
}

main h2, aside h2 {
	text-align: center;
	font-size: 32px;
}

.content {
	font-size: 16px;
	padding: 0 1em;
}

aside {
	background-color: $brand-color;
	height: 370px;
	padding: 1em;
	color: white;
}

aside {
	font-size: 18px;
}

form {
	text-align: right;
	width: 280px;
	margin: 0 auto;
}

form label {
	font-weight: 500;
}

input, input:focus {
	background-color: $brand-color;
	border: none;
	border-bottom: 1px solid white;
	outline: none;
	color: white;
}

form input {
	margin-left: 0.6em;
	width: 150px;
}

.subscribe {
	margin: 1em auto;
	display: flex;
	color: white;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 0.8em;
	font-weight: bold;
	font-size: 16px;
}

.disclaimer {
	font-size: 10px;
}

.products {
	padding: 1em;
	margin-bottom: 1em;
	background-color: $brand-color;
	color: white;
}

.testimonial {
	display: flex;
	flex-direction: row;
	height: 140px;
	background-color: $brand-color;
	box-shadow: 0px 7px 4px -2px rgba(0, 0, 0, 0.4);
	margin: 0 auto;
	align-items: center;
	justify-content: center;
	padding: 0.4em;
	color: white;
	gap: 5px;
}

.carousel-inner {
	padding: 0.8em 1.5em 1.5em 1.5em;
}

.icon {
	aspect-ratio: 1/1;
	height: 80px;
	border-radius: 50%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#testimonial-one {
	background-image: url('https://thumbs.dreamstime.com/b/happy-couple-their-newborn-baby-happy-couple-their-newborn-baby-home-142237275.jpg');
}

#testimonial-two {
	background-image: url('https://cdn.cdnparenting.com/articles/2018/12/131909891-H.jpg');
}

.testimonial h3 {
	margin: 1em 0 0 0;
}

.newsletter {
	visibility: hidden;
	z-index: 2;
	position: fixed;
	top: 25%;
	left: 15%;
	width: 420px;
	margin: 0 auto;
}

.letterhead {
	// background-color: $brand-color;
	border-radius: 25px 25px 0 0;
	height: 80px;
	background-color: $brand-color;
	color: white;
	margin: 0 auto;
	font-size: 38px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.letterbody {
	background-color: white;
	padding: 1em;
	height: 320px;
	border: 1px solid $brand-color;
	border-radius: 0 0 25px 25px;
}

.popout {
	width: 260px;
	margin: 0 auto;
}

.inpopoutput, .inpopoutput:focus {
	background-color: white;
	border-bottom: 1px solid black;
}

.popout input, .popout input:focus {
	color: black;
	background-color: white;
	border-bottom: 1px solid black;
}

.popout label {
	font-weight: 500;
}

.blur {
	visibility: hidden;
	z-index: 1;
	opacity: 0.8;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: black;
}

.x {
	position: relative;
	top: 1.7em;
	left: 0.8em;
	color: white;
	font-weight: bold;
	font-size: x-large;
	cursor: pointer;
}

.popout-content {
	font-size: 14px;
}

.congrats {
	padding: 0 2em;
}